$path: '../';
$img_path: '#{$path}images/';
$font_path: '#{$path}fonts/';

// Colors
$primary-colours: (
  'blue': (#143a61)
);

// Break Points
$breakpoints: (
	'xxs': (min-width: 320px),
	'xs': (min-width: 375px),
	'sm': (min-width: 576px),
	'md': (min-width: 768px),
	'lg': (min-width: 992px),
	'xl': (min-width: 1200px),
	'xxl': (min-width: 1440px),
	'xxxl': (min-width: 1600px)
);
