$path: '../';
$img_path: '#{$path}images/';
$font_path: '#{$path}fonts/';

// List of font extension to be use
$font-ext: eot woff ttf;

// List of font to be use
$fonts: ('#FONT NAME#');

$browser-prefixes: webkit ms moz o;

// Colors
$primary-colours: (
  '#COLOR NAME#': (#COLOR HEX#)
);

// Break Points
$breakpoints: (
	'xxs': (min-width: 320px),
	'xs': (min-width: 375px),
	'sm': (min-width: 576px),
	'md': (min-width: 768px),
	'lg': (min-width: 992px),
	'xl': (min-width: 1200px),
	'xxl': (min-width: 1440px),
	'xxxl': (min-width: 1600px)
);
